.circles1 {
    left: -6px;
    bottom: 0;
}
.circles2 {
    left: 150px;
    top: -64px;
}
.circles3 {
    right: -6px;
    bottom: 0;
}
.circles4 {

    right: -50px;
    top: 65px;
}
.circles5 {

    left: -50px;
    top: 65px;
}
.diet-bg {
    height: 600px;
    background: url('./../images/advicepic/footAdvice.png')var(--royal-blue) no-repeat center center;
    background-size: cover;
}
.diet-wrap {
    width: 1100px;
    margin: 0 auto;
}
.diet-wrap:after {
    content: "";
    display: table;
    clear: both;
}
.diet-platform {
    width: 540px;
    padding-top: 210px;
    color: var(--white);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.diet-platform h2{
    font-size: xx-large;
}
.diet-platform p{
    font-size: large;
    text-align: center;
}