:root {
    /* 主题色 */
    --white: #ffffff;
    --light-blue: #e9f6fe;
    --sky-blue: #d4ebfe;
    --blue: #409ed9;
    --royal-blue: #1873b6;
    --navy-blue: #0000cd;
    --silver: #889aa4;
    --very-light-grey: #bbbbbb;
    --light-grey: #65686b;
    --light-brown: #696666;
    --black: #2e2e2e;
}

/* 通用样式 */
body {
    margin: 0;
    background: var(--white);
    font-family: Arial, sans-serif;
}

/* 通用类：把鼠标变成手形 */
.cursor-pointer {
    cursor: pointer;
}

/* 通用类：文字居中 */
.text-center {
    text-align: center;
}

/* 通用类：相对定位 */
.position-relative {
    position: relative;
}

/* 通用类：绝对定位 */
.position-absolute {
    position: absolute;
}

/* 通用类：flex布局 */
.flex-display {
    display: flex;
}

/* 通用类：小号字体 */
.font-small {
    font-size: 13px;
}

/* 通用类：鼠标悬停变色 */
.button-hover:hover {
    background-color: var(--navy-blue);
    color: var(--white);
}

/* 通用类：图标 */
.icon {
    top: 9px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

/* 通用类：输入区域 */
.input-field {
    height: 30px;
    width: 75%;
}

/* 页面包裹器，设置了背景图片 */
.wrapper {
    height: 800px;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.header {
    top: 0;
    height: 95px;
    background: var(--white);
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 70px;
}

.header span {
    font-size: 30px;
    font-weight: 600;
}

.header span:before {
    content: "|";
    font-weight: 400;
    margin: 0 20px;
}

.logo {
    display: inline-block;
    height: 70px;
}

/* 标题文字 */
.title {
    height: 42px;
    letter-spacing: 4px;
    font-size: 20px;
}

.navBox {
    background-color: var(--white);
    color: var(--black);
}

.navContent {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navList li a {
    display: block;
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
}

.navList {
    justify-content: center;
    text-align: center;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    gap: 20px;
}

.active{
    display: block;
    text-align: center;
}

.navList li a:hover {
    color: var(--royal-blue);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*设置轮播图容器的大小和位置*/
.slider1 {
    width: 100vw;
    height: 600px;
    overflow: hidden;
}

/*设置轮播项的布局为水平排列，当切换时有过渡效果*/
.slider-items {
    display: flex;
    transition: all 1s;
}

/*每一个轮播项占用的空间是其父级元素的100%，且高度一致*/
.item {
    flex: 0 0 100%;
    height: 100%;
}

/*图片的尺寸与其父级元素同宽高，设置object-fit: cover;使得图片在保持其宽高比的同时填充其内容框*/
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*为轮播图下方的小点设置位置位于slider元素底部10px处，宽度充满父级元素，文本居中*/
.dots {
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/*设置小点的大小，边距以及背景颜色，当鼠标悬停时可以变成指针形状*/
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--very-light-grey);
    border-radius: 50%;
}

/*设置被激活的小点的颜色*/
.dot.active {
    background-color: var(--black);
}


.iBanner-down {
    height: 100px;
    padding-top: 20px;
    text-align: center;
}
.iBanner-arrow {
    display: none;
    width: 37px;
    height: 24px;
    margin: 0 auto;
    background: url(./../images/icon-adown.png)no-repeat center center;
    background-size: 30px;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    transition: 1s linear 0s;
}
.iBanner-down p {
    text-align: center;
    font-size: 16px;
    color: var(--light-grey);
    padding-top: 5px;
}
.mean {
    padding: 10px;
    width: 66%;
    margin: auto;
}

/*设置标题*/
.meaning {
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
    text-align: center ;
    display: block;
}
/* 设置段落字体 */
.mean p {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-grey);
}
/*第二个轮播器*/
.slider2{
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.slider-items {
    display: flex;
    transition: all 1s;
}