:root {
    /* 主题色 */
    --white: #ffffff;
    --light-blue: #e9f6fe;
    --sky-blue: #d4ebfe;
    --blue: #409ed9;
    --royal-blue: #1873b6;
    --navy-blue: #0000cd;
    --s-blue:#1489d3;
    --silver: #889aa4;
    --very-light-grey: #bbbbbb;
    --light-grey: #65686b;
    --light-brown: #696666;
    --black: #2e2e2e;

}

/* 通用样式 */
body {
    margin: 0;
    background: var(--white);
    font-family: Arial, sans-serif;
}

/* 通用类：把鼠标变成手形 */
.cursor-pointer {
    cursor: pointer;
}

/* 通用类：文字居中 */
.text-center {
    text-align: center;
}

/* 通用类：相对定位 */
.position-relative {
    position: relative;
}

/* 通用类：绝对定位 */
.position-absolute {
    position: absolute;
}

/* 通用类：flex布局 */
.flex-display {
    display: flex;
}

/* 通用类：block布局 */
.block-display {
    display: block;
}

/* 通用类：inline-block布局 */
.inline-block-display {
    display: inline-block;
}

/* 通用类：隐藏元素 */
.hidden {
    display: none;
}

/* 通用类：transition设置为1s */
.transition-time {
    transition: all 1s;
}

/* 页面包裹器，设置了背景图片 */
.wrapper {
    height: 800px;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.header {
    top: 0;
    height: 95px;
    background: var(--white);
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 70px;
}

.header span {
    font-size: 30px;
    font-weight: 600;
}

.header span:before {
    content: "|";
    font-weight: 400;
    margin: 0 20px;
}

.logo {
    display: inline-block;
    height: 70px;
}

/* 标题文字 */
.title {
    height: 42px;
    letter-spacing: 4px;
    font-size: 20px;
}

.navBox {
    background-color: var(--white);
    color: var(--black);
}

.navContent {
    justify-content: space-between;
    padding: 10px;
}

.navList {
    justify-content: center;
    text-align: center;
    list-style-type: none;
    flex-grow: 1;
    gap: 20px;
}

.navList li a {
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
}

.navList li a:hover {
    color: var(--royal-blue);
}

.dropdown-content {
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*设置轮播图容器的大小和位置*/
.slider1 {
    width: 100vw;
    height: 600px;
    overflow: hidden;
}

/*每一个轮播项占用的空间是其父级元素的100%，且高度一致*/
.slider-item {
    flex: 0 0 100%;
    height: 100%;
}

/*图片的尺寸与其父级元素同宽高，设置object-fit: cover;使得图片在保持其宽高比的同时填充其内容框*/
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*为轮播图下方的小点设置位置位于slider元素底部10px处，宽度充满父级元素，文本居中*/
.dots {
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/*设置小点的大小，边距以及背景颜色，当鼠标悬停时可以变成指针形状*/
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--very-light-grey);
    border-radius: 50%;
}

/*设置被激活的小点的颜色*/
.dot.active {
    background-color: var(--black);
}

.iBanner-down {
    height: 100px;
    padding-top: 20px;
    text-align: center;
}
.iBanner-arrow {
    width: 37px;
    height: 24px;
    margin: 0 auto;
    background: url(./../images/icon-adown.png)no-repeat center center;
    background-size: 30px;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    transition: 1s linear 0s;
}

.iBanner-down p {
    text-align: center;
    font-size: 16px;
    color: var(--light-grey);
    padding-top: 5px;
}

.mean {
    padding: 10px;
    width: 66%;
    margin: auto;
}

/*设置标题*/
.meaning {
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
    text-align: center ;
}

/* 设置段落字体 */
.mean p {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-grey);
}

/*第二个轮播器*/
.slider2{
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.health-bg {
    height: 600px;
    background: url('./../images/ihealth-bg.png')var(--royal-blue) no-repeat center center;
    background-size: cover;
}
.health-wrap {
    width: 1100px;
    margin: 0 auto;
}
.health-wrap:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.health-animate {
    position: relative;
    width: 430px;
    height: 430px;
    margin-top: 130px;
}
/*旋转动画*/
@keyframes hcircle {
    from { /* 开始状态 */
        transform: rotate(0deg);
    }
    to { /* 结束状态 */
        transform: rotate(360deg);
    }
}
.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 430px;
    height: 430px;
    background: url('./../images/i-hcircle.png') no-repeat center center;
    background-size: 100%;
    animation: hcircle 8s linear 0s infinite;
    -webkit-animation: hcircle 8s linear 0s infinite;
    -moz-animation: hcircle 8s linear 0s infinite;
    -o-animation: hcircle 8s linear 0s infinite;
}
.people {
    position: absolute;
    left: 121px;
    top: 45px;
    width: 190px;
    height: 330px;
    background: url('./../images/i-hpeople.png')no-repeat 0 0;
    background-size: 100%;
}
.small {
    display: block;
    position: absolute;
    width: 119px;
    height: 119px;
}
.cbg {
    background: url(./../images/i-hcbg.png) no-repeat;
    animation: hcircle 8s linear 0s infinite;
    -webkit-animation: hcircle 8s linear 0s infinite;
    -moz-animation: hcircle 8s linear 0s infinite;
    -o-animation: hcircle 8s linear 0s infinite;
}
i {
    font-style: italic;
}
.cfont {
    text-align: center;
    color: var(--s-blue);
    font: normal 600 26px/119px arial,sans-serif;
}
.circle1 {
    left: -6px;
    bottom: 0;
}
.circle2 {
    left: 150px;
    top: -64px;
}
.circle3 {
    right: -6px;
    bottom: 0;
}
.health-platform {
    width: 540px;
    padding-top: 210px;
    color: var(--white);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.health-animate, .health-platform {
    float: left;
}

.fr {
    float: right;
}
.health-platform h2{
    font-size: xx-large;
}
.health-platform p{
    font-size: large;
    text-align: center;
}
.wrapper2 {
    display: flex;
    justify-content: center;
}
.knowledgeList {
    margin: 158px auto 200px;
    width: 1200px;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: xx-large;
    text-align: center;
}
.ik-p{
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
    color: var(--light-grey);
}
.ik-item {
    width: 202px;
    height: 200px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
.ik-item i {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 202px;
    height: 119px;
    background: url('./../images/ik-bg.png')no-repeat 0 0;
    opacity: 0;
    transition: .5s;
}
.ik-item a {
    position: absolute;
    left: 62px;
    top: 56px;
    transition: .5s;
    opacity: 0;
}
.ik-item p {
    text-align: center;
    font-size: 16px;
    color: var(--black);
    line-height: 30px;
    margin-top: 20px;
}
.btn1 {
    height: 28px;
    border: 3px solid var(--blue);
    display: inline-block;
    padding: 0 10px;
    line-height: 28px;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    border-radius: 2px;
}
.btn-kepu, .btn-kepu:hover {
    border: 1px solid var(--white);
    color: var(--white);
}

/* 页脚 */
.footer {
    height: 50px;
    width: 100%;
    background-color: var(--royal-blue);
    color: var(--white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: 0;
    text-align: center;
}

/* 页脚内容 */
.footer-content {
    margin: 26px;
}

