:root {
    /* 主题色 */
    --white: #ffffff;
    --light-blue: #e9f6fe;
    --sky-blue: #d4ebfe;
    --blue: #409ed9;
    --royal-blue: #1873b6;
    --navy-blue: #0000cd;
    --silver: #889aa4;
    --light-brown: #696666;
    --black: #2e2e2e;
}

/* 通用样式 */
body {
    margin: 0;
    background: var(--white);
    font-family: Microsoft YaHei, serif;
}

/* 通用类：把鼠标变成手形 */
.cursor-pointer {
    cursor: pointer;
}

/* 通用类：文字居中 */
.text-center {
    text-align: center;
}

/* 通用类：相对定位 */
.position-relative {
    position: relative;
}

/* 通用类：绝对定位 */
.position-absolute {
    position: absolute;
}

/* 通用类：flex布局 */
.flex-display {
    display: flex;
}

/* 通用类：小号字体 */
.font-small {
    font-size: 13px;
}

/* 通用类：鼠标悬停变色 */
.button-hover:hover {
    background-color: var(--navy-blue);
    color: var(--white);
}

/* 通用类：图标 */
.icon {
    top: 9px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

/* 通用类：输入区域 */
.input-field {
    height: 30px;
    width: 75%;
}

/* 页面包裹器，设置了背景图片 */
.wrapper {
    height: 800px;
    background: url("./../images/background.png") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

/* 页眉 */
.header {
    width: calc(100% - 70px);
    top: 0;
    height: 95px;
    background: var(--white);
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 70px;
}

.header span {
    font-size: 30px;
    font-weight: 600;
}

.header span:before {
    content: "|";
    font-weight: 400;
    margin: 0 20px;
}

/* 页眉上的中大logo */
.logo {
    display: inline-block;
    height: 70px;
}

/* 标题文字 */
.title {
    letter-spacing: 4px;
    font-size: 30px;
}

/* 语言切换按钮容器 */
.language-field {
    right: 10px;
    z-index: 100;;
    display: block;
}

/* 语言切换按钮 */
.language-button {
    border-radius: 5px;
    background-color: var(--sky-blue);
    color: var(--blue);
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    font-weight: bolder;
}

/* 登录表单容器 */
.login-container {
    overflow: hidden;
    background-color: var(--white);
    top: 250px;
    margin: 0 260px 0 auto;
    border-radius: 4px;
    width: 470px;
    box-shadow: 6px 4px 10px var(--light-brown)
}

/* 表单标题 */
.container-title {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background: var(--light-blue);
    color: var(--blue);
}

/* 表单内容 */
.container-body {
    padding: 20px 40px;
    min-height: 125px;
}

.user-info {
    padding: 6px 20px 6px 15px;
    color: var(--silver);
}

/* 用户名图标 */
.username {
    background: url("./../images/user.png") no-repeat;
    background-size: 100% auto;
}

/* 密码图标 */
.password {
    background: url("./../images/pwd.png") no-repeat;
    background-size: 100% auto;
}

/* “显示密码”容器 */
.show-password-container {
    margin: 0 20px 0 10px;
}

/* 确保间距足够 */
.password-information {
    margin-right: auto;
}

/* 显示密码按钮 */
.show-password {
    justify-content: flex-end;
}

/* 登录按钮 */
.submit-button {
    margin: 0 0 0 10px;
    border: 1px solid var(--blue);
    background-color: var(--light-blue);
    color: var(--navy-blue);
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    width: 360px;
}

/* 注册超链接 */
.register-section {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.register-section a {
    color: var(--blue);
    text-decoration: none;
}

.register-section a:hover {
    color: var(--royal-blue);
    text-decoration: underline;
}

/* 页脚 */
.footer {
    width: 100%;
    background-color: var(--royal-blue);
    color: var(--white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: 0;
}

/* 页脚内容 */
.footer-content {
    margin: 20px;
}
