body {
    background-color: #f8f9fa;
    background-image: url('https://cas.sysu.edu.cn/cas/themes/sysu2-bottom/images/bodybg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.btn-submit {
    margin-top: 10px;
}