<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="totalTitle">亚健康管理系统</title>
    <link rel="stylesheet" href="/PC/css/error.css">
</head>

<body>
    <div class="container">
        <h1 id="text"></h1>
        <a href="/index/homePage.html">点此返回主页</a>
    </div>

    <script type="text/javascript" src="/PC/js/error/error.js"></script>
    <script type="text/javascript" src="/PC/js/error/innerText.js"></script>
</body>

</html>