<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>亚健康管理系统</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body style="height: 100%">
    <div class="page-wrapper">
        <object data="/download?filename=filled_report.pdf" type="application/pdf" style="height: 100%; width: 100%">
            <p>PDF文件无法加载，你可以<a href="/download?filename=filled_report.pdf">点击此处</a>下载.</p>
        </object>
    </div>
</body>

</html>