:root {
    --white: #FFFFFF;
    --light-grey: #E1E1E4;
    --light-blue: #E9F6FE;
    --sky-blue: #D4EBFE;
    --very-light-grey: #BBBBBB;
    --silver: #889AA4;
    --light-brown: #696666;
    --blue: #409ED9;
    --s-blue:#1489D3;
    --royal-blue: #1873B6;
    --green: #009900;
    --navy-blue: #0000CD;
    --black: #000000;
}
