:root {
    --header-height: 95px;
    --header-logo-height: 70px;
    --header-title-content-height: 42px;
    --header-paddings: 70px;
    --footer-height: 35px;
    --footer-font-size: 15px;
}

:root {
    --header-font-size: 30px;
    --header-font-weight: 600;
    --header-title-font-weight: 400;
    --header-title-content-letter-spacing: 4px;
    --header-link-font-size: 20px;
}

body {
    margin: 0;
    background: var(--white);
    font-family: Arial, sans-serif;
}

.page-wrapper {
    width: 100%;
    height: 100%;
}

.header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    background-color: var(--white);
}

.header-title {
    padding-left: var(--header-paddings);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-title span {
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
}

.header-title span::before {
    margin: 0 20px;
    content: "|";
    font-weight: var(--header-title-font-weight);
}

.header-logo {
    display: inline-block;
    height: var(--header-logo-height);
}

.header-title-content {
    height: var(--header-title-content-height);
    letter-spacing: var(--header-title-content-letter-spacing);
    font-size: 20px;
}

.header-links {
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: var(--header-paddings);
    align-items: center;
}

.links {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 20px;
}

.links li a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--header-link-font-size);
}

.links li a:hover {
    color: var(--royal-blue);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
}

.footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--royal-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--footer-font-size);
}