.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.flex-display {
    display: flex;
}

.block-display {
    display: block;
}

.inline-block-display {
    display: inline-block;
}

.hidden {
    display: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}